.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.text {
  color: #111;
  font-size: 22px;
}

.input {
  min-width: 500px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid;
  border: 1px solid #bdbdbd;
  padding: 5px;
}

.inValid {
  background: rgb(255, 105, 105);
  border: 1px solid rgb(139, 0, 0);
}
