.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #bdbdbd;
  padding: 20px;
}

.link {
  font-size: 20px;
  background: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 3px;
  padding: 5px 10px;
  transition: 0.3s;
  cursor: pointer;
}

.link:hover {
  background: #e0e0e0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  gap: 10px;
}

.text {
  color: #111;
  font-size: 22px;
}

.textarea {
  border-radius: 5px;
  border: 1px solid;
  border: 1px solid #bdbdbd;
}

.textarea {
  font-size: 16px;
  min-width: 500px;
  min-height: 300px;
  max-width: 500px;
  max-height: 300px;
}

.inValid {
  background: rgb(255, 105, 105);
  border: 1px solid rgb(139, 0, 0);
}

.is-book-new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
